@import '../utilus/mixins';

.collections {
  display: flex;
  flex-direction: column;

  @include onTablet {
    width: 392px;
    margin: 0 auto;
  }

  @include onDesktop {
    width: 100%;
  }

  &__areas {
    display: flex;
    flex-direction: column;
    gap: 48px;
    margin-top: 40px;

    @include onTablet {
      margin-top: 48px;
    }

    @include onDesktop {
      grid-template-columns: repeat(3, 1fr);
      display: grid;
      gap: 24px;
    }

  }
}
