@import './variables';

@mixin onTablet {
  @media (min-width: $tablet-min-width) {
    @content;
  }
}

@mixin onDesktop {
  @media (min-width: $desktop-min-width) {
    @content;
  }
}

@mixin contentPaddingInline() {
  padding-inline: 20px;

  @include onTablet {
    padding-inline: 72px;
  }

  @include onDesktop {
    padding-inline: 120px;
    margin-inline: auto;
    max-width: 1020px;
  }
}

.container {
  @include contentPaddingInline;
}

@mixin hover($property, $toValue) {
  transition: #{$property} 0.3s;
  &:hover {
    #{$property}: $toValue;
  }
}

@mixin pageGrid {
  --columns: 2;

  column-gap: 20px;
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);

  @include onTablet {
    --columns: 6;

    column-gap: 24px;
    margin-top: 0;
    display: grid;
  }

  @include onDesktop {
    --columns: 12;
  }
}
